<div class="levels index">
	<h2><?php echo __('Levels'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('level_number'); ?></th>
			<th><?php echo $this->Paginator->sort('level_title'); ?></th>
			<th><?php echo $this->Paginator->sort('splash_title'); ?></th>
			<th><?php echo $this->Paginator->sort('splash_text'); ?></th>
			<th><?php echo $this->Paginator->sort('splash_image'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($levels as $level): ?>
	<tr>
		<td><?php echo h($level['Level']['id']); ?>&nbsp;</td>
		<td><?php echo h($level['Level']['level_number']); ?>&nbsp;</td>
		<td><?php echo h($level['Level']['level_title']); ?>&nbsp;</td>
		<td><?php echo h($level['Level']['splash_title']); ?>&nbsp;</td>
		<td><?php echo h($level['Level']['splash_text']); ?>&nbsp;</td>
		<td><?php echo h($level['Level']['splash_image']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $level['Level']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $level['Level']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $level['Level']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $level['Level']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Level'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
