<div class="content-wrapper">
    <?php echo $this->element("header-htp")?>
    <div class="htp-content-holder">
        <?php echo $this->Html->image("htp_content_2.png")?>
    </div>
    <?php echo html_entity_decode($this->Html->link($this->Html->image("btn-lets-play.png"), array("controller" => "pages", "action" => "game"), array("class" => "main-screen-buttons")));?>

</div>
<div class="clearfix"></div>